.root {
  height: 100%;
  overflow: hidden;

  .form {
    height: 100%;
    display: flex;
    flex-direction: column;

    .items {
      overflow: auto;

      flex: 1 1 auto;

      display: grid;
      grid-template-columns: 2fr 2fr;
      gap: 32px;
    }

    .subm {
      :global(.ant-form-item) {
        margin: 0;
      }

      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }
}
